/* montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
/* mango font */
@font-face {
  font-family: "Mango";
  src: url(./assets/fonts/Mango.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  font-family: "Montserrat", sans-serif;
}

.trans-expand{
  font-family: "Mango";
  @apply tracking-widest underline cursor-pointer font-[400]  hover:tracking-[0.2em]  duration-300 delay-75 uppercase decoration-text-hover
}

.font-mango-small{
  @apply text-[1.35rem] font-semibold tracking-widest
}

.flex-center{
  @apply flex justify-evenly items-center
}

.tilt{
  @apply hover:rotate-2 duration-300 hover:scale-110
}

